
<div class="main">
    <nav class="header navbar navbar-expand-lg navbar-dark">
        <div class="container d-block">
            <div class="row h-100">
                <div class="col-3 d-flex">
                    <div class="logo mt-auto mb-auto">
                        <img src="assets/images/logo.png" alt="no image" height="70" />
                    </div>
                </div>
                <div class="col-7 d-flex  links-block">
                    <div
                            class="collapse navbar-collapse mt-auto mb-auto navbar-class"
                            id="navbarNav"
                    >
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"
                                >Home <span class="sr-only">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Extensions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tutorials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-auto mt-auto mb-auto">
                        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                </div>
                <div class="col-2 d-flex icons-block">
                    <div class="icons m-auto">
                        <div class="icon-block">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img
                                        src="./assets/images/icons/facebook.svg"
                                        alt="facebook"
                                />
                            </a>
                        </div>
                        <div class="icon-block">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img
                                        src="./assets/images/icons/twitter.svg"
                                        alt="twitter"
                                />
                            </a>
                        </div>
                        <div class="icon-block">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="./assets/images/icons/skype.svg" alt="skype" />
                            </a>
                        </div>
                        <div class="icon-block">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img
                                        src="./assets/images/icons/linkedin.svg"
                                        alt="linkedin"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row main-title-row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 main-title">Hincesti</div>
                </div>
                <div class="row">
                    <div class="col-12 main-subtitle"></div>
                </div>
            </div>
        </div>
        <div class="row scroll-row">
            <div class="col-12 d-flex">
                <div class="scroll-down-block">
                    <p>Scroll Down</p>
                    <button class="scroll-button" >
                        <img
                                src="./assets/images/icons/angle-down-solid.svg"
                                alt="angle"
                        />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="first-section">
    <div class="container">
        <div class="row main-title-features">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 title-w">N</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 title-features">
                                <div>
                                    Noi suntem Moldova
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row features">
                            <div class="col-lg-3 col-md-6 col-12 features-block">
                                <div class="icon-block">
                                    <img
                                            src="assets/images/icons/Write.png"
                                            alt="feature one"
                                    />
                                </div>

                                <h3>Hincesti</h3>
                                <p>
                                    Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 features-block">
                                <div class="icon-block">
                                    <img
                                            src="assets/images/icons/Write.png"
                                            alt="feature two"
                                    />
                                </div>
                                <h3>Hincesti</h3>
                                <p>
                                    Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 features-block">
                                <div class="icon-block">
                                    <img
                                            src="assets/images/icons/Search.png"
                                            alt="feature three"
                                    />
                                </div>

                                <h3>Hincesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 features-block">
                                <div class="icon-block">
                                    <img
                                            src="assets/images/icons/Simon.png"
                                            alt="feature for"
                                    />
                                </div>
                                <h3>Hinesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-section">
    <div class="first-info-row">
        <div class="background-block"></div>
        <div class="image-block"></div>
    </div>
    <div class="first-info-row-text">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="background-block">
                        <div class="text-block">
                            <div class="info-block">
                                <div class="date">Jan 4, 2016</div>
                                <div class="delimiter"></div>
                                <div class="category">In Culture</div>
                            </div>
                            <h4>Hincesti</h4>
                            <p>
                                Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                            </p>
                            <p>
                                Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-info-row">
        <div class="image-block"></div>
        <div class="background-block"></div>
    </div>
    <div class="second-info-row-text">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="image-block"></div>
                    <div class="background-block">
                        <div class="text-block">
                            <div class="info-block">
                                <div class="date">Jan 4, 2016</div>
                                <div class="delimiter"></div>
                                <div class="category">In Culture</div>
                            </div>
                            <h4>Hincesti</h4>
                            <p>
                                Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                            </p>
                            <p>
                                Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="third-section">
    <div class="container">
        <div class="row main-title-blog">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 title-b">B</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 title-blog">
                                <div>
                                    Blogul nostru
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 subtitle-blog">
                                În 1991 orașul a recăpătat denumirea istorică de Hîncești
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row blogs">
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 blogs-block"
                            >
                                <div class="image-block">
                                    <img src="assets/images/blog-one.png" alt="blog one" />
                                </div>

                                <h3>Hinesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 blogs-block"
                            >
                                <div class="image-block">
                                    <img src="assets/images/blog-two.png" alt="blog two" />
                                </div>
                                <h3>Hinesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 blogs-block"
                            >
                                <div class="image-block">
                                    <img
                                            src="assets/images/blog-three.png"
                                            alt="blog three"
                                    />
                                </div>

                                <h3>Hinesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 blogs-block"
                            >
                                <div class="image-block">
                                    <img src="assets/images/blog-one.png" alt="blog for" />
                                </div>
                                <h3>Hinesti</h3>
                                <p>Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fourth-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex">
                <div class="icon-block">
                    <img src="./assets/images/icons/Write.png" alt="write" />
                </div>
                <div class="text-block">
                    Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                </div>
            </div>
            <div class="col-lg-6 col-12 mt-3 mt-lg-0 d-flex">
                <div class="icon-block">
                    <img src="./assets/images/icons/Write.png" alt="write" />
                </div>
                <div class="text-block">
                    Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                </div>
            </div>
        </div>
    </div>
</section>
<section id="five-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex" >
                <div class="text-block">
                    <h4>Hincesti</h4>
                    <p>
                        Raionul Hîncești este un raion din partea centrală a Republicii Moldova. Populația raionului este de peste 100.000 de locuitori (2014).[2] Reședința sa este orașul Hîncești.
                    </p>

                    <div class="advantage-block">
                        <div class="advantage-item item-1">Fully Responsive Design</div>
                        <div class="advantage-item item-2">High Quality Code</div>
                        <div class="advantage-item item-3">Different Headers & Layout</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 mt-lg-0 mt-3 image-block">
                <img src="./assets/images/phone.png" alt="phone">
            </div>
        </div>
    </div>
</section>
<section id="six-section">
    <div class="container">
        <div class="row main-title-team">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 title-t">T</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 title-team">
                                <div>
                                    Our Team
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 subtitle-team">
                                sales long tail influencer pitch release niche market.

                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row team">
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 team-block"
                            >
                                <div class="image-block" style="background-image: url('assets/images/team-member-1.png')">
                                </div>

                                <div class="team-member">
                                    <div class="name-member">JOHN SNOW</div>
                                    <div class="position-member">CEO</div>
                                </div>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 team-block"
                            >
                                <div class="image-block" style="background-image: url('assets/images/team-member-2.png')">
                                </div>
                                <div class="team-member">
                                    <div class="name-member">LADY SANSA</div>
                                    <div class="position-member">WebDesigner</div>
                                </div>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 team-block"
                            >
                                <div class="image-block" style="background-image: url('assets/images/team-member-3.png')">
                                </div>

                                <div class="team-member">
                                    <div class="name-member">DAVID SMITH</div>
                                    <div class="position-member">Photographer</div>
                                </div>
                            </div>
                            <div
                                    class="col-lg-3 mt-lg-0 mt-3 col-md-6 col-12 team-block"
                            >
                                <div class="image-block" style="background-image: url('assets/images/team-member-4.png')">
                                </div>
                                <div class="team-member">
                                    <div class="name-member">LADY SANSA</div>
                                    <div class="position-member">Photographer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="seven-section">
    <div class="container">
        <div class="row main-title-form">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 title-c">C</div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 title-form">
                                <div>
                                    We’d love to hear about your project.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <form id="form">
                            <div class="row form-block">
                                <div class="col-md-4 col-12 form-block-one">
                                    <input type="text" id="name" placeholder="Name">
                                </div>
                                <div class="col-md-4 col-12 mt-3 mt-md-0 form-block-one">
                                    <input type="text" id="email" placeholder="Email">
                                </div>
                                <div class="col-md-4 col-12 mt-3 mt-md-0 form-block-one">
                                    <input type="text" id="phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 form-block-two mt-md-4 mt-3">
                                    <textarea name="message" id="message" class="w-100" rows="5" placeholder="Message"></textarea>                  </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center submit-btn-block">
                                    <button type="submit" class="submit-btn">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="footer-section">
    <div class="container">
        <div class="row col-12 d-flex text-style">
            <div class="mr-auto"> AdobeInvisFont,Roboto-Regular,MyriadPro-Regular</div>
            <div class="ml-auto">Created by Inga Morari</div>
        </div>
    </div>
</section>
